//---------------------------------------------------------------------------------------
// Overrides Bootstrap classes are change here, consider changing a variable before
// overriding classes.
//---------------------------------------------------------------------------------------
// Reference: http://www2.gov.bc.ca/gov/content/governments/services-for-government/policies-procedures/web-content-development-guides/developers-guide/css-elements
// sass-lint:disable force-element-nesting, force-pseudo-nesting

.nav-link,
.navbar-brand,
.page-link,
a.btn {
    text-decoration: none;
}

.dropdown-item {
    text-decoration: none;
}

// Highlight focused links
a:not(.btn):focus {
    color: $link-hover-color;
}

// Add focus ring to btn-link, highlight as regular link
.btn.btn-link {
    text-decoration: underline;

    &:focus,
    &.focus {
        box-shadow: 0 0 0 $btn-focus-width $btn-link-outline-color;
        color: $link-hover-color;
    }
}

.list-group .list-group-item-action {
    @include hover-focus {
        text-decoration: underline;
    }
}

// Header, adds the gold bottom border and shadow
header nav {
    background-color: theme-color(primary-nav);
    border-bottom: 2px solid theme-color(bcgold);

    &.shadow {
        box-shadow: 0 3px 3px 1px $header-box-shadow-color;
    }
}

// Add spacing around content (use p-* to override)
main {
    padding-bottom: 40px;
    padding-top: 20px;
}

// Underline navbar links when active
.navbar-nav .nav-link {
    @include hover-focus {
        text-decoration: underline;
    }
}

// Set footer background, add gold border above
footer nav {
    background-color: theme-color(primary-nav);
    border-top: 2px solid theme-color(bcgold);
}

// Only sibling list items in footer get left border
@each $breakpoint in map-keys($grid-breakpoints) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
    footer .navbar-expand#{$infix} .nav-item + .nav-item {
        @include media-breakpoint-up($breakpoint) {
            border-left: 1px solid $footer-separator-color;
        }
    }
}

// Stronger border colour
.alert.alert-info {
    border-color: theme-color-level(info, -4);
}

.alert.alert-warning {
    border-color: theme-color-level(warning, -4);
}
