@use "_appbar";
@use "_fonts";
@use "_spacing";
@use "_visibility";

@use "vuetify" with (
    $heading-font-family: (
        "BCSans",
        Verdana,
        Arial,
        sans-serif,
    ),
    $body-font-family: (
        "BCSans",
        Verdana,
        Arial,
        sans-serif,
    )
);

* {
    hyphens: none;
    -webkit-hyphens: none;
}
