root = true

[*]
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
charset = utf-8

# ReSharper properties
resharper_html_space_before_self_closing = true

[*.{yml,yaml}]
indent_size = 2

[*.{cs,razor,cshtml}]

# SA1629: Documentation text should end with a period
dotnet_diagnostic.SA1629.severity = none

# SA1600: Elements should be documented
dotnet_diagnostic.SA1600.severity = suggestion

# SA1502: Element should not be on a single line
dotnet_diagnostic.SA1502.severity = suggestion

# SA1649: File name should match first type name
dotnet_diagnostic.SA1649.severity = suggestion

# SA1413: Use trailing comma in multi-line initializers
dotnet_diagnostic.SA1413.severity = none

# SA1602: Enumeration items should be documented
dotnet_diagnostic.SA1602.severity = suggestion

# SA1518: Use line endings correctly at end of file
dotnet_diagnostic.SA1518.severity = suggestion

# SA1201: Elements should appear in the correct order
dotnet_diagnostic.SA1201.severity = none

# SA1101: Prefix local calls with this
dotnet_diagnostic.SA1101.severity = suggestion

# CA2007: Consider calling ConfigureAwait on the awaited task
dotnet_diagnostic.CA2007.severity = none

# CA1822: Mark members as static
dotnet_diagnostic.CA1822.severity = suggestion

# SA1625: Element documentation should not be copied and pasted
dotnet_diagnostic.SA1625.severity = silent

# CA1812: Avoid uninstantiated internal classes
dotnet_diagnostic.CA1812.severity = none

# CA1852: Seal internal types
dotnet_diagnostic.CA1852.severity = none

# SA1200: Using directives should be placed correctly
dotnet_diagnostic.SA1200.severity = none

# SA1203: Constants should appear before fields
dotnet_diagnostic.SA1203.severity = none

# CA1062: Validate arguments of public methods
dotnet_diagnostic.CA1062.severity = suggestion

# IDE0011: Add braces
csharp_prefer_braces = when_multiline

# SA1503: Braces should not be omitted
dotnet_diagnostic.SA1503.severity = suggestion

# SA1513: Closing brace should be followed by blank line
dotnet_diagnostic.SA1513.severity = silent

# CA1063: Implement IDisposable Correctly
dotnet_diagnostic.CA1063.severity = suggestion

# CA1816: Dispose methods should call SuppressFinalize
dotnet_diagnostic.CA1816.severity = suggestion

# S3881: "IDisposable" should be implemented correctly
dotnet_diagnostic.S3881.severity = suggestion

# SA1311: Static readonly fields should begin with upper-case letter
dotnet_diagnostic.SA1311.severity = none

# SA1202: Elements should be ordered by access
dotnet_diagnostic.SA1202.severity = none

# SA1128: Put constructor initializers on their own line
dotnet_diagnostic.SA1128.severity = none

# CA1819: Properties should not return arrays
dotnet_diagnostic.CA1819.severity = suggestion

# CA1711: Identifiers should not have incorrect suffix
dotnet_diagnostic.CA1711.severity = suggestion

# SA1516: Elements should be separated by blank line
dotnet_diagnostic.SA1516.severity = suggestion

# S1066: Collapsible "if" statements should be merged
dotnet_diagnostic.S1066.severity = suggestion

# SA1623: Property summary documentation should match accessors
dotnet_diagnostic.SA1623.severity = suggestion

# CS8604: Possible null reference argument.
dotnet_diagnostic.CS8604.severity = suggestion

# CA1303: Do not pass literals as localized parameters
dotnet_diagnostic.CA1303.severity = suggestion

# S101: Types should be named in PascalCase
dotnet_diagnostic.S101.severity = suggestion
