###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
* text=auto

*.vue text eol=lf
*.ts text eol=lf