## Ignore these 
# General
.DS_Store
.DS_Store?
.AppleDouble
.LSOverride

# Files that might appear in the root of a volume
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

## VSCode including workspaces
.vscode/
*.code-workspace

## Visual Studio
.vs/

# Local settings files
*.local.json

# Additional Apple macOS and iCloud
.AppleDesktop
*.original_filename.iCloud
.iCloud
.Trashes
.apdisk

# Thumbnails
._*
Thumbs.db

# Dropbox settings and caches
.dropbox
.dropox.attr
.dropbox.cache
Testing/functional/e2e/debug.log

# CSV files and Logs
*.log
