// TODO: Color variables should be moved here and have bcgov reference these instead
$primary: #036;
$soft_background: #f7f7f7;
$primary_text: #fff;
$bcgold: #fcba19;
$light_background: #fff;
$soft_text: #747474;
$lightBlue: #005095;
$aquaBlue: #0092f1;
$lightGrey: #edf1f8;

$z_top_layer: 9999;
$z_sidebar: 9990;
$z_overlay: 998;