// TODO: Color variables should be moved here and have bcgov reference these instead
$primary: #036;
$soft_background: #f7f7f7;
$primary_text: #fff;
$bcgold: #fcba19;
$light_background: #fff;
$soft_text: #747474;
