@{
    ViewData["Title"] = "Home";
}

<div id="app-root">Loading...</div>

@section scripts {
    <environment include="Development">
        <script src="~/js/app.js" asp-append-version="true"></script>
    </environment>
    <environment include="Production">
        <script src="~/dist/main.bundle.js.gz" asp-append-version="true"></script>
    </environment>
    
}
