$bcgov-font-path: "../fonts/" !default;

@font-face {
    font-family: "BCSans";
    font-style: normal;
    src: url("#{$bcgov-font-path}BCSans-Regular.woff2") format("woff2"),
        /* Optimized for very modern browsers */
            url("#{$bcgov-font-path}BCSans-Regular.woff") format("woff"); /* Modern Browsers */
}

@font-face {
    font-family: "BCSans";
    font-style: italic;
    src: url("#{$bcgov-font-path}BCSans-Italic.woff2") format("woff2"),
        /* Optimized for very modern browsers */
            url("#{$bcgov-font-path}BCSans-Italic.woff") format("woff"); /* Modern Browsers */
}

@font-face {
    font-family: "BCSans";
    font-weight: 700;
    src: url("#{$bcgov-font-path}BCSans-Bold.woff2") format("woff2"),
        /* Optimized for very modern browsers */
            url("#{$bcgov-font-path}BCSans-Bold.woff") format("woff"); /* Modern Browsers */
}

@font-face {
    font-family: "BCSans";
    font-style: italic;
    font-weight: 700;
    src: url("#{$bcgov-font-path}BCSans-BoldItalic.woff2") format("woff2"),
        /* Optimized for very modern browsers */
            url("#{$bcgov-font-path}BCSans-BoldItalic.woff") format("woff"); /* Modern Browsers */
}
