@use "_fonts";
@use "_spacing";
@use "_visibility";

@use "vuetify" with (
    $heading-font-family: (
        "BCSans",
        Verdana,
        Arial,
        sans-serif,
    ),
    $body-font-family: (
        "BCSans",
        Verdana,
        Arial,
        sans-serif,
    )
);

* {
    hyphens: none;
    -webkit-hyphens: none;
}

// Override the yellow system-bar accent color
.v-app-bar.border-accent {
    border-color: #e0e0e0 !important; // Light gray tone
}
