@use "_fonts";
@use "_spacing";
@use "_visibility";

@use "vuetify" with (
    $heading-font-family: (
        "BCSans",
        Verdana,
        Arial,
        sans-serif,
    ),
    $body-font-family: (
        "BCSans",
        Verdana,
        Arial,
        sans-serif,
    )
);

* {
    hyphens: none;
    -webkit-hyphens: none;
}

// Override the yellow system-bar accent color
.v-app-bar.border-accent {
    border-color: #e0e0e0 !important; // Light gray tone
}

.bg-info-light {
    background-color: #e5edf5 !important;
    color: #1a2e49 !important;
}

// Reinforce for v-alert
.v-alert.bg-info-light {
    @extend .bg-info-light;
}
