@use "vuetify/settings" with (
    $heading-font-family: (
        "BCSans",
        Verdana,
        Arial,
        sans-serif,
    ),
    $body-font-family: (
        "BCSans",
        Verdana,
        Arial,
        sans-serif,
    ),
    $grid-breakpoints: (
        "md": 960px,
        "lg": 1280px,
        "xl": 1920px,
        "xxl": 2560px,
    )
);
