<template>
    <div id="immz">
        <div>
            <select v-model="$i18n.locale">
                <option disabled value="">Language</option>
                <option>en</option>
                <option>fr</option>
                <option v-for="(lang, i) in langs" :key="`Lang${i}`" :value="lang">{{ lang }}</option>
            </select>
        </div>
        <h1>{{ $t('immz-component.immunizations')}}</h1>
        <p>{{ $t('immz-component.prototype')}}</p>

        <b-table striped responsive small :items="items" :fields="fields">
            <template slot="HEAD_date" slot-scope="data">
                {{ $t('immz-component.fields.date') }}
            </template>
            <template slot="HEAD_vaccine" slot-scope="data">
                {{ $t('immz-component.fields.vaccine') }}
            </template>
            <template slot="HEAD_dose" slot-scope="data">
                {{ $t('immz-component.fields.dose') }}
            </template>
            <template slot="HEAD_site" slot-scope="data">
                {{ $t('immz-component.fields.site') }}
            </template>
            <template slot="HEAD_lot" slot-scope="data">
                {{ $t('immz-component.fields.lot') }}
            </template>
            <template slot="HEAD_boost" slot-scope="data">
                {{ $t('immz-component.fields.boost') }}
            </template>
        </b-table>
    </div>
</template>

s
<script src="./immunizations.ts"></script>