<template>
    <div>
        <h1>Immunizations</h1>

        <p>Prototype immunizations view.</p>

        <table class="table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Vaccine</th>
                    <th>Dose</th>
                    <th>Site</th>
                    <th>Lot</th>
                    <th>Boost Due</th>
                </tr>
            </thead>
            <tbody>
                <!-- <tr v-for="record in immunizations"> -->
                <tr>
                    <td>1999 Jun 10</td>
                    <td>DTaP-HB-IPV-Hib</td>
                    <td></td>
                    <td>left vastus lateralis</td>
                    <td>4792AB</td>
                    <td>1999 Aug 10</td>
                </tr>
                <tr>
                    <td>1999 Aug 14</td>
                    <td>DTaP-HB-IPV-Hib</td>
                    <td></td>
                    <td>left vastus lateralis</td>
                    <td>8793BC</td>
                    <td>1999 Oct 15</td>
                </tr>
                <tr>
                    <td>1999 Oct 11</td>
                    <td>DTaP-HB-IPV-Hib</td>
                    <td></td>
                    <td>right vastus externus</td>
                    <td>9056AA</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</template>
<script src="./immunizations.ts"></script>