@page "/"
@layout MainLayout
@attribute [Authorize]
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<PageTitle>Main</PageTitle>
<p class="text-center">
    Determining Default User Route
</p>
