<template>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <!-- Brand -->
        <a class="navbar-brand" href="#">Health Gateway</a>
            
            <!-- Toggler/collapsibe Button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                    <span class="sr-only">Toggle navigation</span>
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <router-link class="nav-link" to="/" :exact="true">
                            <span class="fa fa-home"></span> Home
                        </router-link>
                    </li>
                    <li class="nav-item">
                        <router-link class="nav-link" to="/immunizations">
                            <span class="fa fa-syringe"></span> Immunizations
                        </router-link>
                    </li>
                    <li class="nav-item">
                        <router-link class="nav-link" to="/counter">
                            <span class="fa fa-plus"></span> Counter
                        </router-link>
                    </li>
                    <li class="nav-item">
                        <router-link class="nav-link" to="/fetchdata">
                            <span class="fa fa-th-list"></span> Fetch data
                        </router-link>
                    </li>
                </ul>
            </div> 
        </nav>
</template>

<style src="./navmenu.css" />
