@using System.Security.Claims
@{
    ViewData["Title"] = "Home Page";
}
<h2>Authorized</h2>
<dl>
    @foreach (Claim claim in User.Claims)
    {
        <dt>@claim.Type</dt>
        <dd>@claim.Value</dd>
    }
</dl>
