@inherits HgComponentBase

<div
    class="@CombinedClass"
    style="@Style">
    <MudPaper Elevation="0" Class="pa-4" Tag="@Tag" @attributes="UnmatchedAttributes">
        <MudText Typo="Typo.body1" Color="@Color.Primary">
            @Label
        </MudText>
        <MudText Typo="Typo.body1">
            @if (string.IsNullOrEmpty(Value))
            {
                <text>&nbsp;</text>
            }
            else
            {
                @Value
            }
        </MudText>
    </MudPaper>
</div>
