@inherits HgComponentBase

<div
    class="@CombinedClass"
    style="@Style">
    <MudPaper Elevation="0" Class="pa-4" Tag="@Tag" @attributes="UnmatchedAttributes">
        <MudText Typo="Typo.body1" Color="@Color.Primary">
            @Label
        </MudText>
        @if (InlineContent is null)
        {
            <MudText Typo="Typo.body1">
                @if (string.IsNullOrEmpty(Value))
                {
                    <text>&nbsp;</text>
                }
                else
                {
                    @Value
                }
            </MudText>
        }
        else
        {
            <MudGrid>
                <MudItem xs="6">
                    <MudText Typo="Typo.body1">
                        @if (string.IsNullOrEmpty(Value))
                        {
                            <text>&nbsp;</text>
                        }
                        else
                        {
                            @Value
                        }
                    </MudText>
                </MudItem>
                <MudItem xs="6" Class="d-flex justify-end">
                    @InlineContent
                </MudItem>
            </MudGrid>
        }
    </MudPaper>
</div>
