@inject NavigationManager NavigationManager;

<Fluxor.Blazor.Web.StoreInitializer />

<PageTitle>Health Gateway Admin</PageTitle>

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly"
            NotFoundPage="typeof(Pages.NotFound)">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData"
                                DefaultLayout="@typeof(DefaultLayout)">
                <NotAuthorized>
                    @if (!context.User.Identity!.IsAuthenticated)
                    {
                        NavigationManager.NavigateTo(
                            NavigationManager.GetUriWithQueryParameters(
                                "/login",
                                new Dictionary<string, object?>
                                {
                                    ["returnUrl"] = NavigationManager.Uri,
                                }),
                            replace: true);
                    }
                    else
                    {
                        NavigationManager.NavigateTo("/unauthorized");
                    }
                </NotAuthorized>
                <Authorizing>
                    <p class="text-center">Determining session state, please wait...</p>
                </Authorizing>
            </AuthorizeRouteView>
        </Found>
    </Router>
</CascadingAuthenticationState>
