$_path: "../fonts";

@font-face {
    font-family: "BCSans";
    font-style: normal;
    font-weight: 300;
    src: url("#{$_path}/2023_03_14_BCSans-Light_2g.woff2") format("woff2");
}

@font-face {
    font-family: "BCSans";
    font-style: italic;
    font-weight: 300;
    src: url("#{$_path}/2023_01_01_BCSans-LightItalic_2f.woff2") format("woff2");
}

@font-face {
    font-family: "BCSans";
    font-style: normal;
    font-weight: 400;
    src: url("#{$_path}/2023_01_01_BCSans-Regular_2f.woff2") format("woff2");
}

@font-face {
    font-family: "BCSans";
    font-style: italic;
    font-weight: 400;
    src: url("#{$_path}/2023_01_01_BCSans-Italic_2f.woff2") format("woff2");
}

@font-face {
    font-family: "BCSans";
    font-style: normal;
    font-weight: 700;
    src: url("#{$_path}/2023_01_01_BCSans-Bold_2f.woff2") format("woff2");
}

@font-face {
    font-family: "BCSans";
    font-style: italic;
    font-weight: 700;
    src: url("#{$_path}/2023_01_01_BCSans-BoldItalic_2f.woff2") format("woff2");
}
