<template>
    <div class="container">
        <div class="row pt-5">
            <div class="col-lg-12 col-md-12 text-center"> 
                <h1>Registration with BC Services Card</h1>
                <p>You can use your BC Services Card to log in to participating government services and your BC Services Card Account.</p>                
            </div>
        </div>
        <div class="row pb-5 pt-5">
            <div class="col-lg-6 col-md-6 pt-2">
                <div class="shadow-box">
                    <h3>
                        <strong>Use a Mobile Card</strong>
                    </h3>
                    <p>A mobile card is a representation of a BC Services Card on an iPhone, iPad, or Android mobile device.</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 pt-2">
                <div class="shadow-box">
                    <h3>
                        <strong>Use a Card Reader & Passcode</strong>
                    </h3>
                    <p>A card reader allows you to read the unique chip embedded in your BC Services Card. There are two types of card readers.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col d-flex justify-content-center">
                <a href="#" class="btn btn-primary" id="btnStart" role="button">Create Health Gateway Account</a>
            </div>
        </div>
    </div>
</template>

<style src="./registration.css" />