version: "3.5"
services:
  gatewaydb:
    container_name: gatewaydb
    image: postgres:11
    command: postgres -c 'max_connections=500'
    ports:
      - "5432:5432"
    env_file:
      - ./postgres.env
    restart: unless-stopped
    volumes:
      - ./backups:/backups
      - ./scripts:/scripts
      - gatewaydb:/var/lib/postgresql/data
      - ./init://docker-entrypoint-initdb.d
  gatewaycache:
    container_name: gatewaycache
    image: redis:6.2
    ports:
      - "6379:6379"
    restart: unless-stopped
    volumes:
      - gatewaycache:/data
volumes:
  gatewaydb:
    name: gatewaydb.local
  gatewaycache:
    name: gatewaycache.local
