version: '3.5'
services:
  keycloak:
    container_name: keycloak
    image: jboss/keycloak
    ports:
     - '8080:8080'
    env_file:
      - ./keycloak.env
    environment:
     - TAG=1 #Placeholder to keep environment section
    depends_on:
      - postgres
    networks:
      - web
      - keycloakdb
    restart: unless-stopped

  postgres:
    container_name: postgres
    image: postgres:latest
    ports:
      - '5433:5432' #Expose keycloak ports to the workstation
    env_file:
      - ./postgres.env
    environment:
      - TAG=1 #Placeholder to keep environment section
    restart: unless-stopped
    networks:
      - keycloakdb
    volumes:
      - ./backups:/backups
      - pgdata:/var/lib/postgresql/data

networks:
   web:
     name: web
   db:
     name: keycloakdb
