export GWA_NAMESPACE=
export CLIENT_ID=
export CLIENT_SECRET=
export GWA_ENV=
export API_VERSION=

export LICENCE_PLATE=
export ENVIRONMENT=
export KONG_NAMESPACE=
export KEYCLOAK_URI=

export USER_RATE_LIMIT=
export IP_RATE_LIMIT=
export GLOBAL_RATE_LIMIT=
