      - name: gatewayapi-$KONG_NAMESPACE-public
        methods:
          - GET
        hosts:
          - $KONG_NAMESPACE.api.gov.bc.ca
        paths:
          - /api/gatewayapiservice/Communication
        strip_path: false
        plugins:
          - name: rate-limiting
            tags: [ns.$KONG_NAMESPACE]
            enabled: true
            config:
              fault_tolerant: true
              hide_client_headers: false
              limit_by: ip
              minute: $IP_RATE_LIMIT
            protocols:
              - http
              - https
          - name: rate-limiting_902
            tags: [ns.$KONG_NAMESPACE]
            enabled: true
            config:
              fault_tolerant: true
              hide_client_headers: false
              limit_by: service
              minute: $GLOBAL_RATE_LIMIT
            protocols:
              - http
              - https
        tags:
          - OAS3_import
          - ns.$KONG_NAMESPACE
      - name: gatewayapi-$KONG_NAMESPACE-public-with-waitingqueue
        methods:
          - GET
        hosts:
          - $KONG_NAMESPACE.api.gov.bc.ca
        paths:
          - /api/gatewayapiservice/UserProfile/termsofservice
        strip_path: false
        plugins:
          - name: jwt-keycloak_1010
            tags: [ns.$KONG_NAMESPACE]
            enabled: true
            config:
                allowed_iss:
                    - $KEYCLOAK_URI
                allowed_aud: hg-tickets
                claims_to_verify:
                    - exp
                access_token_header: hg-ticket
                realm: waitingqueue
                disable_access_token_header: true
          - name: rate-limiting
            tags: [ns.$KONG_NAMESPACE]
            enabled: true
            config:
              fault_tolerant: true
              hide_client_headers: false
              limit_by: ip
              minute: $IP_RATE_LIMIT
            protocols:
              - http
              - https
          - name: rate-limiting_902
            tags: [ns.$KONG_NAMESPACE]
            enabled: true
            config:
              fault_tolerant: true
              hide_client_headers: false
              limit_by: service
              minute: $GLOBAL_RATE_LIMIT
            protocols:
              - http
              - https
        tags:
          - OAS3_import
          - ns.$KONG_NAMESPACE
      - name: gatewayapi-$KONG_NAMESPACE-phsa
        methods:
          - GET
        hosts:
          - $KONG_NAMESPACE.api.gov.bc.ca
        headers:
          X-Api-User-Id:
            - phsa
        paths:
          # starting in Kong v3.0.x, regex paths will need to be prefixed with ~
          - /api/gatewayapiservice/UserProfile/\w+/Dependent
        strip_path: false
        plugins:
          - name: jwt-keycloak
            tags: [ns.$KONG_NAMESPACE]
            enabled: true
            config:
              client_roles: null
              allowed_iss:
                - $KEYCLOAK_URI
              run_on_preflight: true
              iss_key_grace_period: 10
              maximum_expiration: 0
              claims_to_verify:
                - exp
              consumer_match_claim_custom_id: false
              cookie_names: []
              scope:
                - phsa
              uri_param_names:
                - jwt
              roles: null
              consumer_match: true
              well_known_template: $KEYCLOAK_URI/.well-known/openid-configuration
              consumer_match_ignore_not_found: true
              anonymous: null
              algorithm: RS256
              realm_roles: null
              consumer_match_claim: azp
        tags:
          - OAS3_import
          - ns.$KONG_NAMESPACE
