      - name: immunization-$KONG_NAMESPACE-public
        methods:
          - GET
          - POST
          - PUT
          - DELETE
        hosts:
          - $KONG_NAMESPACE.api.gov.bc.ca
        paths:
          - /api/immunizationservice/PublicVaccineStatus
        strip_path: false
        tags:
          - OAS3_import
          - ns.$KONG_NAMESPACE
