$bcgov-font-path: '../../fonts/' !default;

// Declare primary font, we provide all types for various browsers/devices
// the web browser will choose which one it wants ondemand instead of CSS onload
@font-face {
  // sass-lint:disable no-duplicate-properties
  font-family: 'Myriad-Pro';
  src: url('#{$bcgov-font-path}MyriadWebPro.eot'); /* IE9 Compat Modes */
  src: url('#{$bcgov-font-path}MyriadWebPro.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('#{$bcgov-font-path}MyriadWebPro.woff2') format('woff2'), /* Super Modern Browsers */
  url('#{$bcgov-font-path}MyriadWebPro.woff') format('woff'), /* Pretty Modern Browsers */
  url('#{$bcgov-font-path}MyriadWebPro.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('#{$bcgov-font-path}MyriadWebPro.svg#svgFontName') format('svg'); /* Legacy iOS */
}
