//---------------------------------------------------------------------------------------
// Variables from Bootstrap are change here, only CHANGED variables are here,
// so if your looking for something, check out the varibles.scss file in bootstrap
//---------------------------------------------------------------------------------------
// Reference: http://www2.gov.bc.ca/gov/content/governments/services-for-government/policies-procedures/web-content-development-guides/developers-guide/css-elements

// Change theme-colors
$theme-colors: (
  primary: #38598a,
  success: #43893e,
  info: #96c0e6,
  warning: #f9ca54,
  danger: #d93e45,
  // new entries
  primary-nav: #036,
  secondary-nav: #5475a7,
  bcgold: #fcba19
);

// Add our font as default
$font-family-sans-serif:    Myriad-Pro, Calibri, Arial, sans serif;
$font-family-base:          $font-family-sans-serif;
$body-color:                #494949;

// Headings
$headings-font-weight:      600;

// Links
$link-decoration:           underline;
$link-color:                #1a5a96;
$link-hover-color:          #0000f3;

// Navbar - header and footer
$header-box-shadow-color:       rgba(51, 51, 51, .5);
$nav-link-padding-x:        .8rem;
$nav-link-padding-y:        .4rem;
$navbar-nav-link-padding-x: .8rem;
$navbar-nav-link-padding-y: .4rem;
$navbar-dark-color:         #fff;
$navbar-dark-toggler-border-color: rgba(255, 255, 255, .6);
$footer-separator-color:    #4b5e73;

// Table header
$table-dark-bg: theme-color(primary);
$table-dark-border-color: theme-color(primary);

// Slightly darker borders
$gray-400:                  #ced4da;
$alert-border-level:        -7;
$card-border-color:         rgba(0, 0, 0, .2);
$hr-border-color:           rgba(0, 0, 0, .2);
$border-color:              $gray-400;
$nav-tabs-border-color:     $gray-400;
$pagination-border-color:   $gray-400;
$pagination-hover-border-color:  $gray-400;
$table-border-color:        $gray-400;

// List groups
$list-group-active-bg:      lighten(theme-color(secondary-nav), 10%);
$list-group-active-border-color:  lighten(theme-color(secondary-nav), 8%);

$btn-link-outline-color:    rgba(theme-color(primary), .5);
