apiVersion: v1
kind: Template
metadata:
  name: ${NAME}-template
  labels:
    app: ${NAME}
objects:
  - apiVersion: v1
    kind: DeploymentConfig
    metadata:
      labels:
        app: ${NAME}
      name: ${NAME}
    spec:
      replicas: 1
      selector:
        deploymentconfig: ${NAME}
      strategy:
        activeDeadlineSeconds: 21600
        resources:
          limits:
            cpu: "500m"
            memory: 512Mi
        rollingParams:
          intervalSeconds: 1
          maxSurge: 25%
          maxUnavailable: 25%
          timeoutSeconds: 600
          updatePeriodSeconds: 1
          post:
            execNewPod:
              command:
                - curl
                - "-X"
                - POST
                - "-H"
                - "Content-Type: application/json"
                - "--data"
                - '{"icon_emoji":":cloud:","text":"Updated Health Gateway App ${NAME} Deployed to **${ENV}**"}'
                - https://chat.developer.gov.bc.ca/hooks/WEHBAtxe6ufWYj2FR/2MMMbS9btPZxtrbgPckiuCqqLzsnEuuWmozKjtY8fXrWHjoa
              containerName: ${NAME}
            failurePolicy: Ignore
        type: Rolling
      template:
        metadata:
          labels:
            app: ${NAME}
            deploymentconfig: ${NAME}
        spec:
          containers:
            - env:
                - name: ASPNETCORE_ENVIRONMENT
                  value: ${ASPNETCORE_ENVIRONMENT}
                - name: HealthGateway_ConnectionStrings__GatewayConnection
                  valueFrom:
                    configMapKeyRef:
                      key: HealthGateway_ConnectionStrings__GatewayConnection
                      name: ${COMMON_CONFIG}-config
                - name: HealthGateway_PatientService__ClientRegistry__ClientCertificate__Password
                  valueFrom:
                    secretKeyRef:
                      key: HealthGateway_PatientService__ClientRegistry__ClientCertificate__Password
                      name: ${COMMON_CONFIG}-secrets
              imagePullPolicy: Always
              name: ${NAME}
              ports:
                - containerPort: 8080
                  protocol: TCP
              readinessProbe:
                failureThreshold: 3
                httpGet:
                  path: /health
                  port: 8080
                  scheme: HTTP
                initialDelaySeconds: 10
                periodSeconds: 10
                successThreshold: 1
                timeoutSeconds: 3
              resources:
                limits:
                  cpu: 500m
                  memory: 1Gi
                requests:
                  cpu: 250m
                  memory: 512Mi
              terminationMessagePath: /${NAME}/termination-log
              terminationMessagePolicy: File
              volumeMounts:
                - mountPath: /usr/local/HealthGateway
                  name: volume-patient-cert
                  readOnly: true
          dnsPolicy: ClusterFirst
          restartPolicy: Always
          schedulerName: default-scheduler
          securityContext: {}
          terminationGracePeriodSeconds: 30
          volumes:
            - configMap:
                defaultMode: 420
                name: patient-cert
              name: volume-patient-cert
      test: false
      triggers:
        - imageChangeParams:
            automatic: true
            containerNames:
              - ${NAME}
            from:
              kind: ImageStreamTag
              name: ${APP_NAME}:${ENV}
              namespace: ${TOOLS_NAMESPACE}
          type: ImageChange
        - type: ConfigChange

  - apiVersion: autoscaling/v1
    kind: HorizontalPodAutoscaler
    metadata:
      labels:
        app: ${NAME}
      name: ${NAME}
    spec:
      maxReplicas: 3
      minReplicas: 1
      scaleTargetRef:
        apiVersion: apps.openshift.io/v1
        kind: DeploymentConfig
        name: ${NAME}
      targetCPUUtilizationPercentage: 60

  - apiVersion: v1
    kind: Service
    metadata:
      labels:
        app: ${NAME}
      name: ${NAME}
    spec:
      ports:
        - name: 8080-tcp
          port: 8080
          protocol: TCP
          targetPort: 8080
      selector:
        deploymentconfig: ${NAME}
      sessionAffinity: None
      type: ClusterIP

parameters:
  - name: NAME
    displayName: Template Name
    description: The name of the template and all related entities (override for multiple deployments in the same namespace)
    required: true
  - name: APP_NAME
    displayName: Application Name
    description: The name of the service which must match the image stream
    required: true
  - name: COMMON_CONFIG
    displayName: Common ConfigMap
    description: The name used for the common config for the environment
    value: common
  - name: TOOLS_NAMESPACE
    displayName: Tools Project Namespace
    description: The namespace of the tools project
    required: true
  - name: ENV
    displayName: Enviroment
    description: The environment to be deployed to
    required: true
  - name: ASPNETCORE_ENVIRONMENT
    displayName: AspNet Core Environment
    description: The aspnet environment to be deployed to
    required: true
